<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script src="https://unpkg.com/vue@next"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-plus"></script>
  <title>PAY-SDK-DEMO</title>
</head>
<body>
<div id="app">
  <el-card>
    <el-collapse accordion model-value="redirect">
      <el-collapse-item title="Redirect Create Order (创建订单)" name="create">
        <el-container v-loading="createLoadingRedirect">
          <el-aside width="500px">
            <el-form
              ref="createFormRedirectRef"
              :model="createFormRedirect"
              :rules="createRulesRedirect"
              label-width="140px"
            >
              <el-form-item label="amount (订单金额)" prop="amount">
                <el-input v-model.number="createFormRedirect.amount" type="number" min="1" />
              </el-form-item label="How much to charge. add 00 for decimal.Example 150.50 THB amount =15050" prop="amount">
              </el-form-item>
              <el-form-item label="Merchant order id (商户订单id)" prop="merchant_order_id">
                <el-input
                  v-model="createFormRedirect.merchant_order_id"
                  placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)"
                />
              </el-form-item>
              <el-form-item label="note (备注信息)" prop="note">
                <el-input v-model="createFormRedirect.note" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="redirect_url (成功回调地址)" prop="redirect_url">
                <el-input v-model="createFormRedirect.redirect_url" placeholder="The url to be redirected after the client's payment is completed" />
              </el-form-item>
              <el-form-item label="redirect_url_fail (失败回调地址)" prop="redirect_url_fail">
                <el-input v-model="createFormRedirect.redirect_url_fail" placeholder="The url to be redirected after the client payment is not completed or cancelled" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="createFormRedirectRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="createSubmitRedirect">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="createRedirectResult">
              <div>response:</div>
              <pre>{{ createRedirectResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Redirect query (查询订单)" name="query">
        <el-container v-loading="queryLoadingRedirect">
          <el-aside width="500px">
            <el-form ref="queryFormRedirectRef" :model="queryFormRedirect" :rules="queryRulesRedirect" label-width="140px">
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="queryFormRedirect.order_id" placeholder="queryFormRedirect.order_id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="queryFormRedirectRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="querySubmitRedirect">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="queryRedirectResult">
              <div>response:</div>
              <pre>{{ queryRedirectResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Redirect refund (发起退款)" name="refund">
        <el-container v-loading="refundLoadingRedirect">
          <el-aside width="500px">
            <el-form
              ref="refundFormRedirectRef"
              :model="refundFormRedirect"
              :rules="refundRulesRedirect"
              label-width="140px"
            >
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="refundFormRedirect.order_id" placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label="refund_amount (退款金额)" prop="refund_amount">
                <el-input v-model.number="refundFormRedirect.refund_amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="refundFormRedirectRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="refundSubmitRedirect">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="refundRedirectResult">
              <div>response:</div>
              <pre>{{ refundRedirectResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <!--<el-collapse-item title="取消订单" name="4">
      </el-collapse-item>-->
    </el-collapse>
  </el-card>
  <el-card>
    <el-collapse accordion model-value="miniapp">
      <el-collapse-item title="Miniapp Create Order (创建订单)" name="create">
        <el-container v-loading="createLoadingMiniapp">
          <el-aside width="500px">
            <el-form
              ref="createFormMiniappRef"
              :model="createFormMiniapp"
              :rules="createRulesMiniapp"
              label-width="140px"
            >
              <el-form-item label="amount (订单金额)" prop="amount">
                <el-input v-model.number="createFormMiniapp.amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label="Merchant order id (商户订单id)" prop="merchant_order_id">
                <el-input
                  v-model="createFormMiniapp.merchant_order_id"
                  placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)"
                />
              </el-form-item>
              <el-form-item label="note (备注信息)" prop="note">
                <el-input v-model="createFormMiniapp.note" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="miniapp_openid" prop="miniapp_openid">
                <el-input v-model="createFormMiniapp.miniapp_openid" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="miniapp_appid" prop="miniapp_appid">
                <el-input v-model="createFormMiniapp.miniapp_appid" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="createFormMiniappRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="createSubmitMiniapp">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="createMiniappResult">
              <div>response:</div>
              <pre>{{ createMiniappResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Miniapp query (查询订单)" name="query">
        <el-container v-loading="queryLoadingMiniapp">
          <el-aside width="500px">
            <el-form ref="queryFormMiniappRef" :model="queryFormMiniapp" :rules="queryRulesMiniapp" label-width="140px">
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="queryFormMiniapp.order_id" placeholder="queryFormMiniapp.order_id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="queryFormMiniappRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="querySubmitMiniapp">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="queryMiniappResult">
              <div>response:</div>
              <pre>{{ queryMiniappResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Miniapp refund (发起退款)" name="refund">
        <el-container v-loading="refundLoadingMiniapp">
          <el-aside width="500px">
            <el-form
              ref="refundFormMiniappRef"
              :model="refundFormMiniapp"
              :rules="refundRulesMiniapp"
              label-width="140px"
            >
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="refundFormMiniapp.order_id" placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label="refund_amount (退款金额)" prop="refund_amount">
                <el-input v-model.number="refundFormMiniapp.refund_amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="refundFormMiniappRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="refundSubmitMiniapp">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="refundMiniappResult">
              <div>response:</div>
              <pre>{{ refundMiniappResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <!--<el-collapse-item title="取消订单" name="4">
      </el-collapse-item>-->
    </el-collapse>
  </el-card>
  <el-card>
    <el-collapse accordion model-value="cscanb">
      <el-collapse-item title="CscanB Create Order (创建订单)" name="create">
        <el-container v-loading="createLoadingCscanb">
          <el-aside width="500px">
            <el-form
              ref="createFormCscanbRef"
              :model="createFormCscanb"
              :rules="createRulesCscanb"
              label-width="140px"
            >
              <el-form-item label="amount (订单金额)" prop="amount">
                <el-input v-model.number="createFormCscanb.amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label="Merchant order id (商户订单id)" prop="merchant_order_id">
                <el-input
                  v-model="createFormCscanb.merchant_order_id"
                  placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)"
                />
              </el-form-item>
              <el-form-item label="note (备注信息)" prop="note">
                <el-input v-model="createFormCscanb.note" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="channel" prop="channel">
                <el-input v-model="createFormCscanb.channel" placeholder="channel create order" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="createFormCscanbRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="createSubmitCscanb">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="createCscanbResult">
              <div>response:</div>
              <pre>{{ createCscanbResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Cscanb query (查询订单)" name="query">
        <el-container v-loading="queryLoadingCscanb">
          <el-aside width="500px">
            <el-form ref="queryFormCscanbRef" :model="queryFormCscanb" :rules="queryRulesCscanb" label-width="140px">
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="queryFormCscanb.order_id" placeholder="queryFormCscanb.order_id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="queryFormCscanbRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="querySubmitCscanb">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="queryCscanbResult">
              <div>response:</div>
              <pre>{{ queryCscanbResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Cscanb refund (发起退款)" name="refund">
        <el-container v-loading="refundLoadingCscanb">
          <el-aside width="500px">
            <el-form
              ref="refundFormCscanbRef"
              :model="refundFormCscanb"
              :rules="refundRulesCscanb"
              label-width="140px"
            >
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="refundFormCscanb.order_id" placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label="refund_amount (退款金额)" prop="refund_amount">
                <el-input v-model.number="refundFormCscanb.refund_amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="refundFormCscanbRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="refundSubmitCscanb">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="refundCscanbResult">
              <div>response:</div>
              <pre>{{ refundCscanbResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <!--<el-collapse-item title="取消订单" name="4">
      </el-collapse-item>-->
    </el-collapse>
  </el-card>
  <el-card>
    <el-collapse accordion model-value="bscanc">
      <el-collapse-item title="BscanC Create Order (创建订单)" name="create">
        <el-container v-loading="createLoadingBscanc">
          <el-aside width="500px">
            <el-form
              ref="createFormBscancRef"
              :model="createFormBscanc"
              :rules="createRulesBscanc"
              label-width="140px"
            >
              <el-form-item label="amount (订单金额)" prop="amount">
                <el-input v-model.number="createFormBscanc.amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label="Merchant order id (商户订单id)" prop="merchant_order_id">
                <el-input
                  v-model="createFormBscanc.merchant_order_id"
                  placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)"
                />
              </el-form-item>
              <el-form-item label="note (备注信息)" prop="note">
                <el-input v-model="createFormBscanc.note" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="channel" prop="channel">
                <el-input v-model="createFormBscanc.channel" placeholder="channel create order" />
              </el-form-item>
              <el-form-item label="auth_code" prop="auth_code">
                <el-input v-model="createFormBscanc.auth_code" placeholder="The Authentication code generated from eWallet of the consumer" />
              </el-form-item>
              <el-form-item label="mid" prop="mid">
                <el-input v-model="createFormBscanc.mid" placeholder="The merchant ID of this order is only valid when there are multiple sub-merchants under the same account." />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="createFormBscancRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="createSubmitBscanc">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="createBscancResult">
              <div>response:</div>
              <pre>{{ createBscancResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Bscanc query (查询订单)" name="query">
        <el-container v-loading="queryLoadingBscanc">
          <el-aside width="500px">
            <el-form ref="queryFormBscancRef" :model="queryFormBscanc" :rules="queryRulesBscanc" label-width="140px">
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="queryFormBscanc.order_id" placeholder="queryFormBscanc.order_id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="queryFormBscancRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="querySubmitBscanc">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="queryBscancResult">
              <div>response:</div>
              <pre>{{ queryBscancResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Bscanc refund (发起退款)" name="refund">
        <el-container v-loading="refundLoadingBscanc">
          <el-aside width="500px">
            <el-form
              ref="refundFormBscancRef"
              :model="refundFormBscanc"
              :rules="refundRulesBscanc"
              label-width="140px"
            >
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="refundFormBscanc.order_id" placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label="refund_amount (退款金额)" prop="refund_amount">
                <el-input v-model.number="refundFormBscanc.refund_amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="refundFormBscancRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="refundSubmitBscanc">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="refundBscancResult">
              <div>response:</div>
              <pre>{{ refundBscancResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <!--<el-collapse-item title="取消订单" name="4">
      </el-collapse-item>-->
    </el-collapse>
  </el-card>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  const { reactive, toRefs, createApp } = Vue;

  function parseData(data) {
    data = JSON.parse(JSON.stringify(data))
    Object.entries(data).forEach(([key, value]) => {
      if (!value) {
        delete data[key]
      }
    })
    return data
  }

  async function onResponse(response) {
    if (response.data.code === 1) {
      return response.data.data
    } else {
      alert(response.data.message)
      return Promise.reject(response.data)
    }
  }

  // redirect create form 创建订单表单
  function useCreateFormRedirect() {
    const state = reactive({
      createFormRedirectRef: null,
      createLoadingRedirect: false,
      createFormRedirect: {
        amount: 1,
        merchant_order_id: '',
        note: '',
        redirect_url: '',
        redirect_url_fail: '',
        timestamp: ''
      },
      createRulesRedirect: {
        amount: [{ required: true, type: 'number' }],
        merchant_order_id: [{ required: true, type: 'string' }],
        redirect_url: [{ required: true, type: 'string' }],
        redirect_url_fail: [{ required: true, type: 'string' }]
      },
      createRedirectResult: null,
      createSubmitRedirect() {
        state.createLoadingRedirect = true
        submit().finally(() => (state.createLoadingRedirect = false))
      }
    })

    async function submit() {
      state.createFormRedirect.timestamp = Date.now().toString()

      await state.createFormRedirectRef.validate()
      state.createRedirectResult = await onResponse(
        await axios.post('/api/redirect/orderCreate', parseData(state.createFormRedirect))
      )
    }

    return state
  }

  // redirect query form 查询订单
  function useQueryFormRedirect() {
    const state = reactive({
      queryFormRedirectRef: null,
      queryLoadingRedirect: false,
      queryFormRedirect: {
        order_id: '',
        timestamp: ''
      },
      queryRulesRedirect: {
        order_id: [{ required: true, type: 'string' }]
      },
      queryRedirectResult: null,
      querySubmitRedirect() {
        state.queryLoadingRedirect = true
        submit().finally(() => (state.queryLoadingRedirect = false))
      }
    })

    async function submit() {
      state.queryFormRedirect.timestamp = Date.now().toString()

      await state.queryFormRedirectRef.validate()
      state.queryRedirectResult = await onResponse(
        await axios.post('/api/redirect/orderQuery', parseData(state.queryFormRedirect))
      )
    }

    return state
  }

  // redirect refund form 订单退款
  function useRefundFormRedirect() {
    const state = reactive({
      refundFormRedirectRef: null,
      refundLoadingRedirect: false,
      refundFormRedirect: {
        order_id: '',
        refund_amount: 1,
        timestamp: ''
      },
      refundRulesRedirect: {
        order_id: [{ required: true, type: 'string' }],
        refund_amount: [{ required: true, type: 'number' }]
      },
      refundRedirectResult: null,
      refundSubmitRedirect() {
        state.refundLoadingRedirect = true
        submit().finally(() => (state.refundLoadingRedirect = false))
      }
    })

    async function submit() {
      state.refundFormRedirect.timestamp = Date.now().toString()

      await state.refundFormRedirectRef.validate()
      state.refundRedirectResult = await onResponse(
        await axios.post('/api/redirect/orderRefund', parseData(state.refundFormRedirect))
      )
    }

    return state
  }

  // miniapp create form 创建订单表单
  function useCreateFormMiniapp() {
    const state = reactive({
      createFormMiniappRef: null,
      createLoadingMiniapp: false,
      createFormMiniapp: {
        amount: 1,
        merchant_order_id: '',
        note: '',
        miniapp_openid: '',
        miniapp_appid: '',
        timestamp: ''
      },
      createRulesMiniapp: {
        amount: [{ required: true, type: 'number' }],
        merchant_order_id: [{ required: true, type: 'string' }]
      },
      createMiniappResult: null,
      createSubmitMiniapp() {
        state.createLoadingMiniapp = true
        submit().finally(() => (state.createLoadingMiniapp = false))
      }
    })

    async function submit() {
      state.createFormMiniapp.timestamp = Date.now().toString()

      await state.createFormMiniappRef.validate()
      state.createMiniappResult = await onResponse(
        await axios.post('/api/miniapp/orderCreate', parseData(state.createFormMiniapp))
      )
    }

    return state
  }

  // miniapp query form 查询订单
  function useQueryFormMiniapp() {
    const state = reactive({
      queryFormMiniappRef: null,
      queryLoadingMiniapp: false,
      queryFormMiniapp: {
        order_id: '',
        timestamp: ''
      },
      queryRulesMiniapp: {
        order_id: [{ required: true, type: 'string' }]
      },
      queryMiniappResult: null,
      querySubmitMiniapp() {
        state.queryLoadingMiniapp = true
        submit().finally(() => (state.queryLoadingMiniapp = false))
      }
    })

    async function submit() {
      state.queryFormMiniapp.timestamp = Date.now().toString()

      await state.queryFormMiniappRef.validate()
      state.queryMiniappResult = await onResponse(
        await axios.post('/api/miniapp/orderQuery', parseData(state.queryFormMiniapp))
      )
    }

    return state
  }

  // miniapp refund form 订单退款
  function useRefundFormMiniapp() {
    const state = reactive({
      refundFormMiniappRef: null,
      refundLoadingMiniapp: false,
      refundFormMiniapp: {
        order_id: '',
        refund_amount: 1,
        timestamp: ''
      },
      refundRulesMiniapp: {
        order_id: [{ required: true, type: 'string' }],
        refund_amount: [{ required: true, type: 'number' }]
      },
      refundMiniappResult: null,
      refundSubmitMiniapp() {
        state.refundLoadingMiniapp = true
        submit().finally(() => (state.refundLoadingMiniapp = false))
      }
    })

    async function submit() {
      state.refundFormMiniapp.timestamp = Date.now().toString()

      await state.refundFormMiniappRef.validate()
      state.refundMiniappResult = await onResponse(
        await axios.post('/api/miniapp/orderRefund', parseData(state.refundFormMiniapp))
      )
    }

    return state
  }
  // Cscanb create form 创建订单表单
  function useCreateFormCscanb() {
    const state = reactive({
      createFormCscanbRef: null,
      createLoadingCscanb: false,
      createFormCscanb: {
        amount: 1,
        merchant_order_id: '',
        note: '',
        channel: '',
        timestamp: ''
      },
      createRulesCscanb: {
        amount: [{ required: true, type: 'number' }],
        merchant_order_id: [{ required: true, type: 'string' }],
        channel: [{ required: true, type: 'string' }]
      },
      createCscanbResult: null,
      createSubmitCscanb() {
        state.createLoadingCscanb = true
        submit().finally(() => (state.createLoadingCscanb = false))
      }
    })

    async function submit() {
      state.createFormCscanb.timestamp = Date.now().toString()

      await state.createFormCscanbRef.validate()
      state.createCscanbResult = await onResponse(
        await axios.post('/api/cscanb/orderCreate', parseData(state.createFormCscanb))
      )
    }

    return state
  }

  // Cscanb query form 查询订单
  function useQueryFormCscanb() {
    const state = reactive({
      queryFormCscanbRef: null,
      queryLoadingCscanb: false,
      queryFormCscanb: {
        order_id: '',
        timestamp: ''
      },
      queryRulesCscanb: {
        order_id: [{ required: true, type: 'string' }]
      },
      queryCscanbResult: null,
      querySubmitCscanb() {
        state.queryLoadingCscanb = true
        submit().finally(() => (state.queryLoadingCscanb = false))
      }
    })

    async function submit() {
      state.queryFormCscanb.timestamp = Date.now().toString()

      await state.queryFormCscanbRef.validate()
      state.queryCscanbResult = await onResponse(
        await axios.post('/api/cscanb/orderQuery', parseData(state.queryFormCscanb))
      )
    }

    return state
  }

  // Cscanb refund form 订单退款
  function useRefundFormCscanb() {
    const state = reactive({
      refundFormCscanbRef: null,
      refundLoadingCscanb: false,
      refundFormCscanb: {
        order_id: '',
        refund_amount: 1,
        timestamp: ''
      },
      refundRulesCscanb: {
        order_id: [{ required: true, type: 'string' }],
        refund_amount: [{ required: true, type: 'number' }]
      },
      refundCscanbResult: null,
      refundSubmitCscanb() {
        state.refundLoadingCscanb = true
        submit().finally(() => (state.refundLoadingCscanb = false))
      }
    })

    async function submit() {
      state.refundFormCscanb.timestamp = Date.now().toString()

      await state.refundFormCscanbRef.validate()
      state.refundCscanbResult = await onResponse(
        await axios.post('/api/cscanb/orderRefund', parseData(state.refundFormCscanb))
      )
    }

    return state
  }
  
    // Bscanc create form 创建订单表单
    function useCreateFormBscanc() {
    const state = reactive({
      createFormBscancRef: null,
      createLoadingBscanc: false,
      createFormBscanc: {
        amount: 1,
        merchant_order_id: '',
        auth_code: '',
        note: '',
        channel: '',
        mid: '',
        timestamp: ''
      },
      createRulesBscanc: {
        amount: [{ required: true, type: 'number' }],
        merchant_order_id: [{ required: true, type: 'string' }],
        channel: [{ required: true, type: 'string' }],
        auth_code: [{ required: true, type: 'string' }]
      },
      createBscancResult: null,
      createSubmitBscanc() {
        state.createLoadingBscanc = true
        submit().finally(() => (state.createLoadingBscanc = false))
      }
    })

    async function submit() {
      state.createFormBscanc.timestamp = Date.now().toString()

      await state.createFormBscancRef.validate()
      state.createBscancResult = await onResponse(
        await axios.post('/api/bscanc/orderCreate', parseData(state.createFormBscanc))
      )
    }

    return state
  }

  // Bscanc query form 查询订单
  function useQueryFormBscanc() {
    const state = reactive({
      queryFormBscancRef: null,
      queryLoadingBscanc: false,
      queryFormBscanc: {
        order_id: '',
        timestamp: ''
      },
      queryRulesBscanc: {
        order_id: [{ required: true, type: 'string' }]
      },
      queryBscancResult: null,
      querySubmitBscanc() {
        state.queryLoadingBscanc = true
        submit().finally(() => (state.queryLoadingBscanc = false))
      }
    })

    async function submit() {
      state.queryFormBscanc.timestamp = Date.now().toString()

      await state.queryFormBscancRef.validate()
      state.queryBscancResult = await onResponse(
        await axios.post('/api/bscanc/orderQuery', parseData(state.queryFormBscanc))
      )
    }

    return state
  }

  // Bscanc refund form 订单退款
  function useRefundFormBscanc() {
    const state = reactive({
      refundFormBscancRef: null,
      refundLoadingBscanc: false,
      refundFormBscanc: {
        order_id: '',
        refund_amount: 1,
        timestamp: ''
      },
      refundRulesBscanc: {
        order_id: [{ required: true, type: 'string' }],
        refund_amount: [{ required: true, type: 'number' }]
      },
      refundBscancResult: null,
      refundSubmitBscanc() {
        state.refundLoadingBscanc = true
        submit().finally(() => (state.refundLoadingBscanc = false))
      }
    })

    async function submit() {
      state.refundFormBscanc.timestamp = Date.now().toString()

      await state.refundFormBscancRef.validate()
      state.refundBscancResult = await onResponse(
        await axios.post('/api/bscanc/orderRefund', parseData(state.refundFormBscanc))
      )
    }

    return state
  }
  
  
  createApp({
    setup() {
      return {
        ...toRefs(useCreateFormRedirect()),
        ...toRefs(useQueryFormRedirect()),
        ...toRefs(useRefundFormRedirect()),
        ...toRefs(useCreateFormMiniapp()),
        ...toRefs(useQueryFormMiniapp()),
        ...toRefs(useRefundFormMiniapp()),
        ...toRefs(useCreateFormCscanb()),
        ...toRefs(useQueryFormCscanb()),
        ...toRefs(useRefundFormCscanb()),
        ...toRefs(useCreateFormBscanc()),
        ...toRefs(useQueryFormBscanc()),
        ...toRefs(useRefundFormBscanc())
      }
    }
  })
    .use(ElementPlus)
    .mount("#app");
</script>

</body>
</html>
