<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script src="https://unpkg.com/vue@next"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-plus"></script>
  <title>PAY-SDK-DEMO</title>
</head>
<body>
<div id="app">
  <el-card>
    <el-collapse accordion model-value="redirect">
      <el-collapse-item title="Redirect Create Order (创建订单)" name="create">
        <el-container v-loading="createLoadingRedirect">
          <el-aside width="500px">
            <el-form
              ref="createFormRedirectRef"
              :model="createFormRedirect"
              :rules="createRulesRedirect"
              label-width="140px"
            >
              <el-form-item label="amount (订单金额)" prop="amount">
                <el-input v-model.number="createFormRedirect.amount" type="number" min="1" />
              </el-form-item label="How much to charge. add 00 for decimal.Example 150.50 THB amount =15050" prop="amount">
              </el-form-item>
              <el-form-item label="Merchant order id (商户订单id)" prop="merchant_order_id">
                <el-input
                  v-model="createFormRedirect.merchant_order_id"
                  placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)"
                />
              </el-form-item>
              <el-form-item label="note (备注信息)" prop="note">
                <el-input v-model="createFormRedirect.note" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="redirect_url (成功回调地址)" prop="redirect_url">
                <el-input v-model="createFormRedirect.redirect_url" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="redirect_url_fail (失败回调地址)" prop="redirect_url_fail">
                <el-input v-model="createFormRedirect.redirect_url_fail" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="createFormRedirectRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="createSubmitRedirect">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="createRedirectResult">
              <div>response:</div>
              <pre>{{ createRedirectResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Redirect query (查询订单)" name="query">
        <el-container v-loading="queryLoadingRedirect">
          <el-aside width="500px">
            <el-form ref="queryFormRedirectRef" :model="queryFormRedirect" :rules="queryRulesRedirect" label-width="140px">
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="queryFormRedirect.order_id" placeholder="queryFormRedirect.order_id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="queryFormRedirectRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="querySubmitRedirect">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="queryRedirectResult">
              <div>response:</div>
              <pre>{{ queryRedirectResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Redirect refund (发起退款)" name="refund">
        <el-container v-loading="refundLoadingRedirect">
          <el-aside width="500px">
            <el-form
              ref="refundFormRedirectRef"
              :model="refundFormRedirect"
              :rules="refundRulesRedirect"
              label-width="140px"
            >
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="refundFormRedirect.order_id" placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label="refund_amount (退款金额)" prop="refund_amount">
                <el-input v-model.number="refundFormRedirect.refund_amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="refundFormRedirectRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="refundSubmitRedirect">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="refundRedirectResult">
              <div>response:</div>
              <pre>{{ refundRedirectResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <!--<el-collapse-item title="取消订单" name="4">
      </el-collapse-item>-->
    </el-collapse>
  </el-card>
  <el-card>
    <el-collapse accordion model-value="miniapp">
      <el-collapse-item title="Miniapp Create Order (创建订单)" name="create">
        <el-container v-loading="createLoadingMiniapp">
          <el-aside width="500px">
            <el-form
              ref="createFormMiniappRef"
              :model="createFormMiniapp"
              :rules="createRulesMiniapp"
              label-width="140px"
            >
              <el-form-item label="amount (订单金额)" prop="amount">
                <el-input v-model.number="createFormMiniapp.amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label="Merchant order id (商户订单id)" prop="merchant_order_id">
                <el-input
                  v-model="createFormMiniapp.merchant_order_id"
                  placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)"
                />
              </el-form-item>
              <el-form-item label="note (备注信息)" prop="note">
                <el-input v-model="createFormMiniapp.note" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="miniapp_openid" prop="miniapp_openid">
                <el-input v-model="createFormMiniapp.miniapp_openid" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label="miniapp_appid" prop="miniapp_appid">
                <el-input v-model="createFormMiniapp.miniapp_appid" placeholder="Not required (非必填)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="createFormMiniappRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="createSubmitMiniapp">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="createMiniappResult">
              <div>response:</div>
              <pre>{{ createMiniappResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Miniapp query (查询订单)" name="query">
        <el-container v-loading="queryLoadingMiniapp">
          <el-aside width="500px">
            <el-form ref="queryFormMiniappRef" :model="queryFormMiniapp" :rules="queryRulesMiniapp" label-width="140px">
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="queryFormMiniapp.order_id" placeholder="queryFormMiniapp.order_id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="queryFormMiniappRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="querySubmitMiniapp">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="queryMiniappResult">
              <div>response:</div>
              <pre>{{ queryMiniappResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <el-collapse-item title="Miniapp refund (发起退款)" name="refund">
        <el-container v-loading="refundLoadingMiniapp">
          <el-aside width="500px">
            <el-form
              ref="refundFormMiniappRef"
              :model="refundFormMiniapp"
              :rules="refundRulesMiniapp"
              label-width="140px"
            >
              <el-form-item label="order_id (商户订单id)" prop="order_id">
                <el-input v-model="refundFormMiniapp.order_id" placeholder="Please enter a unique merchant order id (请输入唯一的商户订单id)" />
              </el-form-item>
              <el-form-item label="refund_amount (退款金额)" prop="refund_amount">
                <el-input v-model.number="refundFormMiniapp.refund_amount" type="number" min="1" />
              </el-form-item>
              <el-form-item label=" ">
                <el-button type="danger" @click="refundFormMiniappRef.resetFields()">reset (重置)</el-button>
                <el-button type="primary" @click="refundSubmitMiniapp">submit (提交)</el-button>
              </el-form-item>
            </el-form>
          </el-aside>
          <el-main>
            <template v-if="refundMiniappResult">
              <div>response:</div>
              <pre>{{ refundMiniappResult }}</pre>
            </template>
          </el-main>
        </el-container>
      </el-collapse-item>
      <!--<el-collapse-item title="取消订单" name="4">
      </el-collapse-item>-->
    </el-collapse>
  </el-card>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  const { reactive, toRefs, createApp } = Vue;

  function parseData(data) {
    data = JSON.parse(JSON.stringify(data))
    Object.entries(data).forEach(([key, value]) => {
      if (!value) {
        delete data[key]
      }
    })
    return data
  }

  async function onResponse(response) {
    if (response.data.code === 1) {
      return response.data.data
    } else {
      alert(response.data.message)
      return Promise.reject(response.data)
    }
  }

  // redirect create form 创建订单表单
  function useCreateFormRedirect() {
    const state = reactive({
      createFormRedirectRef: null,
      createLoadingRedirect: false,
      createFormRedirect: {
        amount: 1,
        merchant_order_id: '',
        note: '',
        redirect_url: '',
        redirect_url_fail: ''
      },
      createRulesRedirect: {
        amount: [{ required: true, type: 'number' }],
        merchant_order_id: [{ required: true, type: 'string' }]
      },
      createRedirectResult: null,
      createSubmitRedirect() {
        state.createLoadingRedirect = true
        submit().finally(() => (state.createLoadingRedirect = false))
      }
    })

    async function submit() {
      await state.createFormRedirectRef.validate()
      state.createRedirectResult = await onResponse(
        await axios.post('/api/redirect/orderCreate', parseData(state.createFormRedirect))
      )
    }

    return state
  }

  // redirect query form 查询订单
  function useQueryFormRedirect() {
    const state = reactive({
      queryFormRedirectRef: null,
      queryLoadingRedirect: false,
      queryFormRedirect: {
        order_id: ''
      },
      queryRulesRedirect: {
        order_id: [{ required: true, type: 'string' }]
      },
      queryRedirectResult: null,
      querySubmitRedirect() {
        state.queryLoadingRedirect = true
        submit().finally(() => (state.queryLoadingRedirect = false))
      }
    })

    async function submit() {
      await state.queryFormRedirectRef.validate()
      state.queryRedirectResult = await onResponse(
        await axios.post('/api/redirect/orderQuery', parseData(state.queryFormRedirect))
      )
    }

    return state
  }

  // redirect refund form 订单退款
  function useRefundFormRedirect() {
    const state = reactive({
      refundFormRedirectRef: null,
      refundLoadingRedirect: false,
      refundFormRedirect: {
        order_id: '',
        refund_amount: 1
      },
      refundRulesRedirect: {
        order_id: [{ required: true, type: 'string' }],
        refund_amount: [{ required: true, type: 'number' }]
      },
      refundRedirectResult: null,
      refundSubmitRedirect() {
        state.refundLoadingRedirect = true
        submit().finally(() => (state.refundLoadingRedirect = false))
      }
    })

    async function submit() {
      await state.refundFormRedirectRef.validate()
      state.refundRedirectResult = await onResponse(
        await axios.post('/api/redirect/orderRefund', parseData(state.refundFormRedirect))
      )
    }

    return state
  }

  // miniapp create form 创建订单表单
  function useCreateFormMiniapp() {
    const state = reactive({
      createFormMiniappRef: null,
      createLoadingMiniapp: false,
      createFormMiniapp: {
        amount: 1,
        merchant_order_id: '',
        note: '',
        miniapp_openid: '',
        miniapp_appid: ''
      },
      createRulesMiniapp: {
        amount: [{ required: true, type: 'number' }],
        merchant_order_id: [{ required: true, type: 'string' }]
      },
      createMiniappResult: null,
      createSubmitMiniapp() {
        state.createLoadingMiniapp = true
        submit().finally(() => (state.createLoadingMiniapp = false))
      }
    })

    async function submit() {
      await state.createFormMiniappRef.validate()
      state.createMiniappResult = await onResponse(
        await axios.post('/api/miniapp/orderCreate', parseData(state.createFormMiniapp))
      )
    }

    return state
  }

  // miniapp query form 查询订单
  function useQueryFormMiniapp() {
    const state = reactive({
      queryFormMiniappRef: null,
      queryLoadingMiniapp: false,
      queryFormMiniapp: {
        order_id: ''
      },
      queryRulesMiniapp: {
        order_id: [{ required: true, type: 'string' }]
      },
      queryMiniappResult: null,
      querySubmitMiniapp() {
        state.queryLoadingMiniapp = true
        submit().finally(() => (state.queryLoadingMiniapp = false))
      }
    })

    async function submit() {
      await state.queryFormMiniappRef.validate()
      state.queryMiniappResult = await onResponse(
        await axios.post('/api/miniapp/orderQuery', parseData(state.queryFormMiniapp))
      )
    }

    return state
  }

  // miniapp refund form 订单退款
  function useRefundFormMiniapp() {
    const state = reactive({
      refundFormMiniappRef: null,
      refundLoadingMiniapp: false,
      refundFormMiniapp: {
        order_id: '',
        refund_amount: 1
      },
      refundRulesMiniapp: {
        order_id: [{ required: true, type: 'string' }],
        refund_amount: [{ required: true, type: 'number' }]
      },
      refundMiniappResult: null,
      refundSubmitMiniapp() {
        state.refundLoadingMiniapp = true
        submit().finally(() => (state.refundLoadingMiniapp = false))
      }
    })

    async function submit() {
      await state.refundFormMiniappRef.validate()
      state.refundMiniappResult = await onResponse(
        await axios.post('/api/miniapp/orderRefund', parseData(state.refundFormMiniapp))
      )
    }

    return state
  }

  createApp({
    setup() {
      return {
        ...toRefs(useCreateFormRedirect()),
        ...toRefs(useQueryFormRedirect()),
        ...toRefs(useRefundFormRedirect()),
        ...toRefs(useCreateFormMiniapp()),
        ...toRefs(useQueryFormMiniapp()),
        ...toRefs(useRefundFormMiniapp())
      }
    }
  })
    .use(ElementPlus)
    .mount("#app");
</script>

</body>
</html>
